%h2 Please answer these Questions
%hr

= form_tag survey_response_group_next_question_path(:response_group_id=>4), :method => :post do
  = label :response, @current_question.id, @current_question.question
  - if @current_question.response_type == 'Open Ended'
    = text_area :response, @current_question.id
  - elsif @current_question.response_type == 'Yes/No'
    %label{:for => "true"} True
    %input{:id => "true", :name => "response["+@current_question.id.to_s+"]", :type => "radio", :value => "True"}
    %label{:for => "false"} False
    %input{:id => "false", :name => "response["+@current_question.id.to_s+"]", :type => "radio", :value => "False"}
  - else
    - @current_question.response_values.split(/,+/).each do |option|
      = label :response, option
      %input{:id => "response_"+option, :name => "response["+@current_question.id.to_s+"]", :type => "radio", :value => option}
  = link_to 'Previous', survey_response_group_prev_question_path(:response_group_id=>4)
  = submit_tag 'Save Changes'
