-#  This file is app/views/surveys/index.html.haml
%h1 All Surveys

%table#surveys
  %thead
    %tr
      %th Survey Name
      %th Surveyor Name
      %th Survey Creation Date
      %th Responses
      %th Questions
  %tbody
    - @surveys.each do |survey|
      %tr
        %td= survey.survey_name
        %td= survey.surveyor_name
        %td= survey.created_at
        %td= link_to "Questions", question_path(survey)
        %td= link_to "View Responses", survey_path(survey)

= link_to 'Create New Survey', new_survey_path
