-#  This file is app/views/surveys/index.html.haml
%h1 All Surveys

%h2 Search TMDb for a movie
= form_tag :action => 'search_surveys' do
  = label :search, :survey_name, 'Survey Name'
  = text_field :search, :survey_name
  
  = submit_tag 'Search Surveys'

%table#surveys
  %thead
    %tr
      %th Survey Name
      %th Surveyor Name
      %th Survey Creation Date
      %th Responses
  %tbody
    - @surveys.each do |survey|
      %tr
        %td= link_to content_tag(:strong, raw(survey.survey_name)), question_path(survey), :title => survey.survey_name
        %td= survey.surveyor_name
        %td= survey.created_at
        %td= link_to "View Responses", survey_path(survey)
        %td= link_to "Delete Survey", survey_path(survey), :method => :delete

= link_to 'Create New Survey', new_survey_path
