-#  This file is app/views/surveys/search_surveys.html.haml
%h1 Surveys Search Results

%table#surveys
  %thead
    %tr
      %th Survey Name
      %th Surveyor Name
      %th Survey Creation Date
      %th Responses
      %th Questions
  %tbody
    - @surveys.each do |survey|
      %tr
        %td= link_to content_tag(:strong, raw(survey.survey_name)), survey_questions_path(survey), :title => survey.survey_name
        %td= survey.surveyor_name
        %td= survey.created_at
        %td= link_to "Take the survey", new_survey_response_group_path(survey)
        %td= link_to "Delete Survey", survey_path(survey), :method => :delete

= link_to 'Create New Survey', new_survey_path
= link_to 'Back to all surveys', surveys_path
