!!! 5
%html
  %head
    %title Multi Site Survey App
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery'
    = csrf_meta_tags
    
  %body
    -# this goes just inside %body:
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]

    - if user_signed_in?
      Logged in as
      = succeed "." do
        %strong= current_user.email
      = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
    - else
      %h1 Survey Builder


    = yield


